  <section class="form pass">
      <h2 class="title">Crie sua próprias sala</h2>
      <form action="/create-room" method="POST">
        <label class="sr-only" for="create-id">Insira uma senha</label>
        <input
        type="password"
        name="password"
        id="create-id"
        placeholder="Insira uma senha"
        required>
        <button id="button-blue">
          <img src="images/icons/user-white.png" alt="">
          Criar uma sala</button>
    </form>
  </section>  
