  <div class="information">
      <img src="/images/icons/nuvem.png" alt="icon balão">
      <h3 class="title">Nenhuma pergunta por aqui...</h3>
      <p>Faça sua primeira pergunta e envie o código dessa sala para outras pessoas!</p>
  </div>